.table>thead>tr>th,.table>tbody>tr>td {
    padding: 2px;
}
.mgtop100 {
    margin-top: 100px;
    float: left; 
    width: 100%;
}
hr.style8 {
    margin-top: 2px;
    height: auto;
	border-top: 5px solid #000;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 2px solid #000;
	border-bottom: 1px solid #fff;
}
.name-school,
.top-school {
    font-weight: bold;
}
.name-school {
    text-transform: uppercase;
    font-size: 18px;
}
.top-school {
    padding-top: 10px;
    font-size: 14px;
}
.noborder td {
    border: 0px !important;
}
table tr td,
table th {
    text-align: center;
}
@media print {
  @page { margin: 0; }
  body { margin-top: -1.5cm; margin-bottom: 0cm; margin-left: 0cm; margin-right: 0cm }
  .x_content { overflow: hidden }
}
.bgimage {
    top: 120px;
    left: 40px;
    position:absolute;
    z-index: 99;
    opacity: 0.1;
    width: 100%;
}
.bgimage img {
    width: 90%;
}
.knowing p {
    margin: 0;
}
.knowing {
    margin-bottom: 60px;
}
.knowing,
.signature {
    z-index: 2;
    position: relative;
}
.sign-teacher {
    max-height: 100px;
    position: absolute;
    top: 10px;
    z-index: 2;
}
.sign-teacher.middle {
    top: 0px;
    right: 30px;
}
.sign-teacher.default{
    top: 20px;
    right: 35px;    
}
.stamp {
    position:absolute;
    top:-20px;
    z-index:0;
    left:-20px;
}
.stamp img {
    width: 150px;
    height: 150px;
}
.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.with-top-space {
    margin-top: 40px;
}
.rowt {
    float: left;
    width: 100%;
    position: relative;
}